In [1]:
from pyhive import hive

In [2]:
# Hive connection parameters
hive_host = "localhost"
hive_port = 10000   

# Connect to Hive
conn = hive.Connection(host=hive_host, port=hive_port, username="root")
cursor = conn.cursor()

In [12]:
# Use the database
cursor.execute("USE Transactions")

In [19]:
# Detecting unusually high transaction amounts
query1 = """
SELECT *
FROM transactions
WHERE amount > 2328.694382812379
"""
  
cursor.execute(query1)
result1 = cursor.fetchall()
print("Transactions with unusually high amounts:")
for row in result1:
    print(row)

Transactions with unusually high amounts:
('T00253', datetime.datetime(2020, 1, 7, 5, 10, 6), 4132.004084842273, 'EUR', 'Merchant11', 'C054', 'purchase', 'City6', 2020, 1)
('T00497', datetime.datetime(2020, 1, 11, 9, 44, 29), 7137.5908256861285, 'GBP', 'Merchant19', 'C085', 'purchase', 'City7', 2020, 1)
('T00528', datetime.datetime(2020, 1, 24, 8, 27, 28), 4810.42489716051, 'EUR', 'Merchant7', 'C000', 'withdrawal', 'City2', 2020, 1)
('T00705', datetime.datetime(2020, 1, 22, 15, 56, 5), 6468.736775162811, 'EUR', 'Merchant11', 'C070', 'withdrawal', 'City4', 2020, 1)
('T00181', datetime.datetime(2020, 1, 23, 10, 26, 39), 9257.031291740803, 'EUR', 'Merchant14', 'C041', 'withdrawal', 'City2', 2020, 1)
('T00185', datetime.datetime(2020, 1, 10, 5, 53, 45), 9942.307500031711, 'GBP', 'Merchant9', 'C033', 'withdrawal', 'City7', 2020, 1)
('T00175', datetime.datetime(2020, 10, 12, 3, 56, 4), 7980.518607591447, 'GBP', 'Merchant1', 'C034', 'withdrawal', 'City2', 2020, 10)
('T00273', datetime.datetime(2020, 10, 3, 3, 52, 37), 5176.808638050883, 'USD', 'Merchant1', 'C022', 'withdrawal', 'City6', 2020, 10)
('T00280', datetime.datetime(2020, 10, 26, 4, 45, 9), 4754.8761963154475, 'EUR', 'Merchant15', 'C065', 'withdrawal', 'City2', 2020, 10)
('T00415', datetime.datetime(2020, 10, 10, 22, 7, 48), 5324.250029856676, 'GBP', 'Merchant8', 'C078', 'withdrawal', 'City8', 2020, 10)
('T00499', datetime.datetime(2020, 10, 25, 3, 5, 23), 9646.935024645398, 'GBP', 'Merchant19', 'C081', 'purchase', 'City5', 2020, 10)
('T00552', datetime.datetime(2020, 10, 21, 5, 5, 57), 5091.872008084778, 'GBP', 'Merchant12', 'C086', 'purchase', 'City8', 2020, 10)
('T00657', datetime.datetime(2020, 10, 27, 19, 36, 28), 6861.5175422426055, 'EUR', 'Merchant4', 'C064', 'withdrawal', 'City9', 2020, 10)
('T00704', datetime.datetime(2020, 10, 14, 8, 24, 42), 8990.17532056887, 'USD', 'Merchant1', 'C024', 'purchase', 'City1', 2020, 10)
('T00709', datetime.datetime(2020, 10, 8, 1, 56, 7), 5502.450447697083, 'EUR', 'Merchant16', 'C077', 'withdrawal', 'City4', 2020, 10)
('T00791', datetime.datetime(2020, 10, 9, 12, 44, 18), 2533.025848876797, 'GBP', 'Merchant16', 'C033', 'withdrawal', 'City4', 2020, 10)
('T00863', datetime.datetime(2020, 10, 9, 12, 27, 47), 8629.575932294094, 'USD', 'Merchant18', 'C015', 'purchase', 'City5', 2020, 10)
('T00937', datetime.datetime(2020, 10, 11, 19, 6, 15), 6083.604043268244, 'EUR', 'Merchant20', 'C022', 'purchase', 'City1', 2020, 10)
('T00980', datetime.datetime(2020, 10, 5, 10, 16, 25), 4692.825080972919, 'EUR', 'Merchant17', 'C092', 'withdrawal', 'City9', 2020, 10)
('T00990', datetime.datetime(2020, 10, 5, 11, 48), 5650.1329481397115, 'GBP', 'Merchant6', 'C014', 'withdrawal', 'City2', 2020, 10)
('T00103', datetime.datetime(2020, 10, 6, 23, 48, 18), 5912.967814032932, 'USD', 'Merchant20', 'C081', 'withdrawal', 'City9', 2020, 10)
('T00121', datetime.datetime(2020, 10, 18, 0, 6, 52), 3766.7717731682087, 'GBP', 'Merchant2', 'C030', 'purchase', 'City8', 2020, 10)
('T00010', datetime.datetime(2020, 11, 20, 0, 48, 20), 4948.797479074918, 'GBP', 'Merchant2', 'C024', 'withdrawal', 'City3', 2020, 11)
('T00229', datetime.datetime(2020, 11, 29, 6, 42, 20), 2742.829612435822, 'GBP', 'Merchant12', 'C040', 'purchase', 'City6', 2020, 11)
('T00328', datetime.datetime(2020, 11, 5, 16, 38, 43), 4015.753203173478, 'USD', 'Merchant11', 'C022', 'purchase', 'City4', 2020, 11)
('T00340', datetime.datetime(2020, 11, 11, 21, 58, 25), 4361.769884710466, 'USD', 'Merchant13', 'C002', 'withdrawal', 'City7', 2020, 11)
('T00348', datetime.datetime(2020, 11, 3, 2, 21, 28), 3247.283386286819, 'EUR', 'Merchant7', 'C048', 'withdrawal', 'City2', 2020, 11)
('T00376', datetime.datetime(2020, 11, 4, 10, 43, 33), 9630.267134332214, 'EUR', 'Merchant11', 'C078', 'purchase', 'City5', 2020, 11)
('T00040', datetime.datetime(2020, 11, 9, 9, 51, 48), 3297.330595281698, 'USD', 'Merchant13', 'C027', 'purchase', 'City2', 2020, 11)
('T00428', datetime.datetime(2020, 11, 8, 11, 22, 21), 9846.672237488767, 'EUR', 'Merchant15', 'C020', 'withdrawal', 'City6', 2020, 11)
('T00578', datetime.datetime(2020, 11, 28, 18, 47, 40), 3294.385830518768, 'GBP', 'Merchant7', 'C095', 'withdrawal', 'City9', 2020, 11)
('T00671', datetime.datetime(2020, 11, 29, 23, 41, 40), 4399.404565128263, 'GBP', 'Merchant1', 'C089', 'purchase', 'City6', 2020, 11)
('T00777', datetime.datetime(2020, 11, 3, 14, 48, 1), 3733.4513271908213, 'EUR', 'Merchant13', 'C099', 'withdrawal', 'City3', 2020, 11)
('T00066', datetime.datetime(2020, 11, 25, 9, 12, 43), 7626.107547026512, 'GBP', 'Merchant3', 'C083', 'withdrawal', 'City7', 2020, 11)
('T00779', datetime.datetime(2020, 11, 19, 21, 1, 9), 5037.133732869947, 'EUR', 'Merchant16', 'C054', 'purchase', 'City7', 2020, 11)
('T00789', datetime.datetime(2020, 11, 20, 13, 40, 38), 4875.398651708619, 'GBP', 'Merchant10', 'C064', 'withdrawal', 'City10', 2020, 11)
('T00989', datetime.datetime(2020, 11, 22, 2, 58, 39), 7061.018479136738, 'EUR', 'Merchant15', 'C000', 'purchase', 'City4', 2020, 11)
('T00010', datetime.datetime(2020, 11, 20, 0, 48, 20), 4948.797479074918, 'GBP', 'Merchant2', 'C024', 'withdrawal', 'City3', 2020, 11)
('T00010', datetime.datetime(2020, 11, 20, 0, 48, 20), 4948.797479074918, 'GBP', 'Merchant2', 'C024', 'withdrawal', 'City3', 2020, 11)
('T00040', datetime.datetime(2020, 11, 9, 9, 51, 48), 3297.330595281698, 'USD', 'Merchant13', 'C027', 'purchase', 'City2', 2020, 11)
('T00066', datetime.datetime(2020, 11, 25, 9, 12, 43), 7626.107547026512, 'GBP', 'Merchant3', 'C083', 'withdrawal', 'City7', 2020, 11)
('T00136', datetime.datetime(2020, 11, 4, 21, 21, 56), 9759.035577429984, 'GBP', 'Merchant5', 'C098', 'purchase', 'City1', 2020, 11)
('T00231', datetime.datetime(2020, 12, 11, 7, 43, 35), 9223.773886003088, 'EUR', 'Merchant2', 'C089', 'purchase', 'City10', 2020, 12)
('T00279', datetime.datetime(2020, 12, 24, 6, 19, 28), 7267.392636265213, 'GBP', 'Merchant4', 'C014', 'withdrawal', 'City8', 2020, 12)
('T00521', datetime.datetime(2020, 12, 23, 3, 9, 57), 5369.56153042453, 'EUR', 'Merchant20', 'C092', 'withdrawal', 'City1', 2020, 12)
('T00620', datetime.datetime(2020, 12, 21, 12, 12, 57), 6457.14392580126, 'EUR', 'Merchant7', 'C038', 'purchase', 'City2', 2020, 12)
('T00626', datetime.datetime(2020, 12, 18, 19, 58, 10), 7196.706279891585, 'EUR', 'Merchant15', 'C040', 'purchase', 'City9', 2020, 12)
('T00728', datetime.datetime(2020, 12, 22, 18, 5, 43), 6049.104505504425, 'USD', 'Merchant2', 'C060', 'purchase', 'City7', 2020, 12)
('T00897', datetime.datetime(2020, 12, 10, 3, 31, 41), 8534.93582964076, 'USD', 'Merchant4', 'C017', 'withdrawal', 'City8', 2020, 12)
('T00901', datetime.datetime(2020, 12, 28, 20, 47, 23), 9052.461366607511, 'GBP', 'Merchant6', 'C023', 'purchase', 'City2', 2020, 12)
('T00926', datetime.datetime(2020, 12, 4, 11, 15, 30), 9792.059788232351, 'GBP', 'Merchant10', 'C077', 'withdrawal', 'City3', 2020, 12)
('T00193', datetime.datetime(2020, 12, 20, 14, 52, 43), 9322.525128659381, 'USD', 'Merchant18', 'C042', 'withdrawal', 'City10', 2020, 12)
('T00374', datetime.datetime(2020, 2, 18, 3, 12, 52), 9816.295704655864, 'GBP', 'Merchant11', 'C013', 'purchase', 'City8', 2020, 2)
('T00618', datetime.datetime(2020, 2, 23, 15, 29, 19), 3171.934081181608, 'EUR', 'Merchant16', 'C011', 'purchase', 'City10', 2020, 2)
('T00803', datetime.datetime(2020, 2, 10, 21, 33, 19), 7227.820781292375, 'EUR', 'Merchant16', 'C092', 'withdrawal', 'City10', 2020, 2)
('T00247', datetime.datetime(2020, 2, 15, 2, 16, 40), 9036.358551915831, 'USD', 'Merchant9', 'C022', 'purchase', 'City5', 2020, 2)
('T00317', datetime.datetime(2020, 2, 19, 18, 51, 55), 8468.104045667631, 'GBP', 'Merchant8', 'C089', 'withdrawal', 'City7', 2020, 2)
('T00009', datetime.datetime(2020, 3, 22, 19, 22, 54), 9718.897630452619, 'USD', 'Merchant9', 'C025', 'purchase', 'City4', 2020, 3)
('T00056', datetime.datetime(2020, 3, 20, 10, 30, 23), 3191.698991617516, 'GBP', 'Merchant20', 'C019', 'purchase', 'City9', 2020, 3)
('T00170', datetime.datetime(2020, 3, 10, 0, 31, 7), 2552.593020235651, 'USD', 'Merchant6', 'C050', 'withdrawal', 'City3', 2020, 3)
('T00223', datetime.datetime(2020, 3, 27, 19, 13, 49), 3552.2034196249665, 'EUR', 'Merchant15', 'C047', 'purchase', 'City9', 2020, 3)
('T00298', datetime.datetime(2020, 3, 14, 15, 20, 52), 7885.224870433148, 'GBP', 'Merchant20', 'C099', 'purchase', 'City1', 2020, 3)
('T00356', datetime.datetime(2020, 3, 10, 16, 29, 2), 8231.202213233526, 'EUR', 'Merchant5', 'C075', 'withdrawal', 'City7', 2020, 3)
('T00464', datetime.datetime(2020, 3, 14, 0, 25, 32), 4063.7736609093436, 'USD', 'Merchant9', 'C066', 'withdrawal', 'City10', 2020, 3)
('T00486', datetime.datetime(2020, 3, 10, 14, 51, 47), 2534.946513583732, 'USD', 'Merchant16', 'C034', 'purchase', 'City1', 2020, 3)
('T00526', datetime.datetime(2020, 3, 26, 4, 2, 27), 3243.8955438642533, 'GBP', 'Merchant15', 'C055', 'withdrawal', 'City4', 2020, 3)
('T00611', datetime.datetime(2020, 3, 6, 8, 39, 20), 3281.9866813780577, 'GBP', 'Merchant6', 'C075', 'purchase', 'City9', 2020, 3)
('T00631', datetime.datetime(2020, 3, 3, 15, 0, 37), 2734.1898076248253, 'USD', 'Merchant20', 'C096', 'purchase', 'City2', 2020, 3)
('T00100', datetime.datetime(2020, 3, 22, 2, 34, 28), 7662.422209755508, 'USD', 'Merchant9', 'C094', 'withdrawal', 'City6', 2020, 3)
('T00810', datetime.datetime(2020, 3, 5, 11, 32, 47), 5978.252769769255, 'EUR', 'Merchant12', 'C080', 'withdrawal', 'City6', 2020, 3)
('T00903', datetime.datetime(2020, 3, 7, 5, 10, 27), 4203.148432766039, 'EUR', 'Merchant5', 'C081', 'purchase', 'City1', 2020, 3)
('T00927', datetime.datetime(2020, 3, 15, 19, 11, 46), 6812.973911953451, 'EUR', 'Merchant8', 'C022', 'purchase', 'City6', 2020, 3)
('T00009', datetime.datetime(2020, 3, 22, 19, 22, 54), 9718.897630452619, 'USD', 'Merchant9', 'C025', 'purchase', 'City4', 2020, 3)
('T00009', datetime.datetime(2020, 3, 22, 19, 22, 54), 9718.897630452619, 'USD', 'Merchant9', 'C025', 'purchase', 'City4', 2020, 3)
('T00056', datetime.datetime(2020, 3, 20, 10, 30, 23), 3191.698991617516, 'GBP', 'Merchant20', 'C019', 'purchase', 'City9', 2020, 3)
('T00100', datetime.datetime(2020, 3, 22, 2, 34, 28), 7662.422209755508, 'USD', 'Merchant9', 'C094', 'withdrawal', 'City6', 2020, 3)
('T00013', datetime.datetime(2020, 4, 13, 11, 30, 34), 5395.02772282405, 'GBP', 'Merchant18', 'C007', 'purchase', 'City2', 2020, 4)
('T00021', datetime.datetime(2020, 4, 18, 23, 17, 51), 3027.4759120256085, 'GBP', 'Merchant7', 'C022', 'purchase', 'City9', 2020, 4)
('T00146', datetime.datetime(2020, 4, 28, 18, 3, 2), 8798.14793489483, 'USD', 'Merchant16', 'C022', 'withdrawal', 'City9', 2020, 4)
('T00150', datetime.datetime(2020, 4, 26, 12, 2, 3), 7405.813413335991, 'EUR', 'Merchant20', 'C041', 'purchase', 'City5', 2020, 4)
('T00316', datetime.datetime(2020, 4, 27, 8, 2, 59), 8656.749409750937, 'GBP', 'Merchant18', 'C087', 'purchase', 'City10', 2020, 4)
('T00403', datetime.datetime(2020, 4, 28, 12, 0, 8), 8197.754660147195, 'USD', 'Merchant5', 'C095', 'withdrawal', 'City6', 2020, 4)
('T00411', datetime.datetime(2020, 4, 15, 20, 17, 40), 8299.52134578775, 'GBP', 'Merchant15', 'C020', 'withdrawal', 'City4', 2020, 4)
('T00470', datetime.datetime(2020, 4, 9, 4, 57, 2), 5058.092567497042, 'GBP', 'Merchant6', 'C065', 'purchase', 'City8', 2020, 4)
('T00670', datetime.datetime(2020, 4, 21, 21, 37, 25), 4535.26558096528, 'GBP', 'Merchant16', 'C003', 'withdrawal', 'City7', 2020, 4)
('T00725', datetime.datetime(2020, 4, 4, 13, 28, 49), 2681.3567460654476, 'EUR', 'Merchant20', 'C007', 'purchase', 'City6', 2020, 4)
('T00832', datetime.datetime(2020, 4, 19, 5, 8, 17), 9846.57176351415, 'GBP', 'Merchant19', 'C042', 'withdrawal', 'City8', 2020, 4)
('T00857', datetime.datetime(2020, 4, 21, 10, 33, 52), 4431.806952227758, 'EUR', 'Merchant13', 'C092', 'purchase', 'City7', 2020, 4)
('T00962', datetime.datetime(2020, 4, 20, 0, 0, 1), 8602.976817547415, 'EUR', 'Merchant4', 'C024', 'purchase', 'City8', 2020, 4)
('T00013', datetime.datetime(2020, 4, 13, 11, 30, 34), 5395.02772282405, 'GBP', 'Merchant18', 'C007', 'purchase', 'City2', 2020, 4)
('T00021', datetime.datetime(2020, 4, 18, 23, 17, 51), 3027.4759120256085, 'GBP', 'Merchant7', 'C022', 'purchase', 'City9', 2020, 4)
('T00013', datetime.datetime(2020, 4, 13, 11, 30, 34), 5395.02772282405, 'GBP', 'Merchant18', 'C007', 'purchase', 'City2', 2020, 4)
('T00021', datetime.datetime(2020, 4, 18, 23, 17, 51), 3027.4759120256085, 'GBP', 'Merchant7', 'C022', 'purchase', 'City9', 2020, 4)
('T00074', datetime.datetime(2020, 5, 3, 13, 59, 38), 7699.547697231905, 'USD', 'Merchant18', 'C062', 'purchase', 'City7', 2020, 5)
('T00355', datetime.datetime(2020, 5, 18, 0, 52, 56), 7727.520934054723, 'USD', 'Merchant14', 'C048', 'purchase', 'City2', 2020, 5)
('T00092', datetime.datetime(2020, 5, 5, 20, 41, 55), 9877.298020138967, 'USD', 'Merchant14', 'C028', 'purchase', 'City4', 2020, 5)
('T00555', datetime.datetime(2020, 5, 17, 20, 37, 23), 8277.639787945078, 'EUR', 'Merchant1', 'C074', 'withdrawal', 'City10', 2020, 5)
('T00593', datetime.datetime(2020, 5, 14, 21, 25, 26), 2981.4830179736805, 'EUR', 'Merchant10', 'C081', 'purchase', 'City2', 2020, 5)
('T00607', datetime.datetime(2020, 5, 2, 9, 9, 8), 7537.462063517272, 'GBP', 'Merchant5', 'C030', 'withdrawal', 'City6', 2020, 5)
('T00984', datetime.datetime(2020, 5, 9, 9, 29, 47), 4156.118649175931, 'GBP', 'Merchant14', 'C006', 'withdrawal', 'City4', 2020, 5)
('T00074', datetime.datetime(2020, 5, 3, 13, 59, 38), 7699.547697231905, 'USD', 'Merchant18', 'C062', 'purchase', 'City7', 2020, 5)
('T00092', datetime.datetime(2020, 5, 5, 20, 41, 55), 9877.298020138967, 'USD', 'Merchant14', 'C028', 'purchase', 'City4', 2020, 5)
('T00140', datetime.datetime(2020, 5, 20, 19, 38, 16), 6154.708896670071, 'EUR', 'Merchant12', 'C012', 'withdrawal', 'City8', 2020, 5)
('T00149', datetime.datetime(2020, 5, 4, 21, 18, 42), 2498.4858097745473, 'EUR', 'Merchant1', 'C023', 'withdrawal', 'City9', 2020, 5)
('T00200', datetime.datetime(2020, 5, 12, 2, 20, 37), 3461.9958616719373, 'GBP', 'Merchant7', 'C060', 'purchase', 'City7', 2020, 5)
('T00004', datetime.datetime(2020, 6, 5, 6, 18, 1), 7266.649956039908, 'USD', 'Merchant16', 'C020', 'purchase', 'City5', 2020, 6)
('T00014', datetime.datetime(2020, 6, 17, 5, 46, 13), 5996.348724603684, 'GBP', 'Merchant14', 'C048', 'withdrawal', 'City7', 2020, 6)
('T00147', datetime.datetime(2020, 6, 13, 21, 14, 46), 3052.3398448975877, 'USD', 'Merchant17', 'C095', 'purchase', 'City5', 2020, 6)
('T00346', datetime.datetime(2020, 6, 26, 12, 39, 22), 5383.8037835896685, 'EUR', 'Merchant11', 'C057', 'withdrawal', 'City9', 2020, 6)
('T00365', datetime.datetime(2020, 6, 28, 19, 15, 33), 9136.147974304991, 'EUR', 'Merchant6', 'C062', 'purchase', 'City2', 2020, 6)
('T00498', datetime.datetime(2020, 6, 26, 11, 14, 32), 4170.7512670456335, 'EUR', 'Merchant17', 'C095', 'withdrawal', 'City7', 2020, 6)
('T00673', datetime.datetime(2020, 6, 4, 7, 47, 57), 8570.832945389711, 'EUR', 'Merchant6', 'C036', 'purchase', 'City8', 2020, 6)
('T00943', datetime.datetime(2020, 6, 8, 13, 44, 34), 7456.803402103937, 'USD', 'Merchant13', 'C072', 'withdrawal', 'City9', 2020, 6)
('T00004', datetime.datetime(2020, 6, 5, 6, 18, 1), 7266.649956039908, 'USD', 'Merchant16', 'C020', 'purchase', 'City5', 2020, 6)
('T00014', datetime.datetime(2020, 6, 17, 5, 46, 13), 5996.348724603684, 'GBP', 'Merchant14', 'C048', 'withdrawal', 'City7', 2020, 6)
('T00004', datetime.datetime(2020, 6, 5, 6, 18, 1), 7266.649956039908, 'USD', 'Merchant16', 'C020', 'purchase', 'City5', 2020, 6)
('T00014', datetime.datetime(2020, 6, 17, 5, 46, 13), 5996.348724603684, 'GBP', 'Merchant14', 'C048', 'withdrawal', 'City7', 2020, 6)
('T00003', datetime.datetime(2020, 7, 31, 5, 22, 15), 5300.280830729066, 'USD', 'Merchant1', 'C037', 'purchase', 'City9', 2020, 7)
('T00003', datetime.datetime(2020, 7, 31, 5, 22, 15), 5300.280830729066, 'USD', 'Merchant1', 'C037', 'purchase', 'City9', 2020, 7)
('T00404', datetime.datetime(2020, 7, 8, 23, 35, 7), 9103.76924510118, 'EUR', 'Merchant15', 'C047', 'purchase', 'City3', 2020, 7)
('T00506', datetime.datetime(2020, 7, 17, 6, 9, 20), 4671.38588343132, 'EUR', 'Merchant17', 'C001', 'purchase', 'City1', 2020, 7)
('T00512', datetime.datetime(2020, 7, 13, 2, 32, 59), 6851.996842182352, 'EUR', 'Merchant13', 'C074', 'purchase', 'City9', 2020, 7)
('T00669', datetime.datetime(2020, 7, 31, 19, 27, 2), 4417.9313473014245, 'EUR', 'Merchant18', 'C063', 'withdrawal', 'City5', 2020, 7)
('T00854', datetime.datetime(2020, 7, 6, 21, 36, 7), 4506.543846668254, 'GBP', 'Merchant1', 'C002', 'withdrawal', 'City3', 2020, 7)
('T00003', datetime.datetime(2020, 7, 31, 5, 22, 15), 5300.280830729066, 'USD', 'Merchant1', 'C037', 'purchase', 'City9', 2020, 7)
('T00141', datetime.datetime(2020, 7, 22, 4, 19, 24), 5680.429252994726, 'EUR', 'Merchant5', 'C048', 'purchase', 'City9', 2020, 7)
('T00158', datetime.datetime(2020, 7, 20, 9, 31, 17), 8919.578045741053, 'GBP', 'Merchant16', 'C031', 'withdrawal', 'City5', 2020, 7)
('T00252', datetime.datetime(2020, 7, 10, 17, 4, 27), 6186.2650919333655, 'USD', 'Merchant7', 'C045', 'withdrawal', 'City6', 2020, 7)
('T00209', datetime.datetime(2020, 8, 26, 19, 17, 21), 2366.6250185940826, 'USD', 'Merchant15', 'C035', 'purchase', 'City10', 2020, 8)
('T00696', datetime.datetime(2020, 8, 12, 12, 48, 52), 5045.809978148895, 'USD', 'Merchant13', 'C041', 'purchase', 'City6', 2020, 8)
('T00751', datetime.datetime(2020, 8, 14, 12, 38, 51), 4128.243757770783, 'USD', 'Merchant17', 'C088', 'purchase', 'City6', 2020, 8)
('T00825', datetime.datetime(2020, 8, 8, 19, 25, 47), 7271.663359902073, 'GBP', 'Merchant6', 'C021', 'withdrawal', 'City7', 2020, 8)
('T00893', datetime.datetime(2020, 8, 28, 3, 15, 12), 9293.72429882634, 'USD', 'Merchant13', 'C062', 'purchase', 'City8', 2020, 8)
('T00913', datetime.datetime(2020, 8, 22, 12, 59, 26), 2701.5977974819234, 'USD', 'Merchant8', 'C021', 'purchase', 'City1', 2020, 8)
('T00964', datetime.datetime(2020, 8, 4, 9, 49, 42), 5605.373368742421, 'EUR', 'Merchant16', 'C082', 'withdrawal', 'City10', 2020, 8)
('T00992', datetime.datetime(2020, 8, 23, 17, 2, 30), 9458.82132994932, 'USD', 'Merchant7', 'C047', 'withdrawal', 'City9', 2020, 8)
('T00558', datetime.datetime(2020, 8, 1, 20, 23, 53), 3286.1234886254124, 'EUR', 'Merchant1', 'C027', 'withdrawal', 'City8', 2020, 8)
('T00389', datetime.datetime(2020, 9, 12, 2, 32, 12), 5516.613833124998, 'EUR', 'Merchant17', 'C013', 'withdrawal', 'City9', 2020, 9)
('T00595', datetime.datetime(2020, 9, 1, 11, 56, 38), 7817.566631818858, 'GBP', 'Merchant5', 'C077', 'purchase', 'City5', 2020, 9)
('T00650', datetime.datetime(2020, 9, 6, 8, 46, 14), 9412.272035262851, 'GBP', 'Merchant14', 'C010', 'purchase', 'City5', 2020, 9)
('T00738', datetime.datetime(2020, 9, 20, 0, 58, 42), 2670.3689603745665, 'USD', 'Merchant7', 'C023', 'purchase', 'City4', 2020, 9)
('T00177', datetime.datetime(2020, 9, 1, 0, 57, 31), 6791.030977201372, 'USD', 'Merchant17', 'C022', 'withdrawal', 'City2', 2020, 9)
('T00227', datetime.datetime(2020, 9, 24, 2, 39, 18), 5178.906179240328, 'USD', 'Merchant17', 'C042', 'withdrawal', 'City4', 2020, 9)
('T00297', datetime.datetime(2020, 9, 4, 23, 23, 28), 2754.3283866807433, 'USD', 'Merchant3', 'C081', 'purchase', 'City5', 2020, 9)
('T00363', datetime.datetime(2020, 9, 6, 16, 45, 19), 7669.466852989142, 'EUR', 'Merchant19', 'C021', 'withdrawal', 'City9', 2020, 9)
('T00007', datetime.datetime(2021, 1, 10, 12, 19, 49), 5930.117173908791, 'GBP', 'Merchant15', 'C040', 'withdrawal', 'City9', 2021, 1)
('T00339', datetime.datetime(2021, 1, 26, 11, 36, 48), 6072.589920835889, 'USD', 'Merchant8', 'C012', 'purchase', 'City9', 2021, 1)
('T00084', datetime.datetime(2021, 1, 21, 9, 4, 25), 2792.323382420477, 'EUR', 'Merchant13', 'C092', 'withdrawal', 'City1', 2021, 1)
('T00708', datetime.datetime(2021, 1, 23, 22, 17, 57), 8953.569772270483, 'EUR', 'Merchant12', 'C014', 'purchase', 'City9', 2021, 1)

In [ ]:
# Detecting transactions with customers on the blacklist
query2 = """
SELECT t.* FROM transactions t JOIN blacklist b ON t.merchant_details = b.merchant_name
"""
cursor.execute(query2)
result2 = cursor.fetchall()
print("Transactions with customers on the blacklist:")
for row in result2:
    print(row)

In [25]:
# Detecting transactions from unusual locations
query3 = """
SELECT * FROM transactions WHERE location NOT IN (SELECT location FROM customers)
"""
cursor.execute(query3)
result3 = cursor.fetchall()
print("Transactions from unusual locations:")
for row in result3:
    print(row)

OperationalError: TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error while compiling statement: FAILED: SemanticException Cartesian products are disabled for safety reasons. If you know what you are doing, please sethive.strict.checks.cartesian.product to false and that hive.mapred.mode is not set to 'strict' to proceed. Note that if you may get errors or incorrect results if you make a mistake while using some of the unsafe features.:17:16", 'org.apache.hive.service.cli.operation.Operation:toSQLException:Operation.java:380', 'org.apache.hive.service.cli.operation.SQLOperation:prepare:SQLOperation.java:206', 'org.apache.hive.service.cli.operation.SQLOperation:runInternal:SQLOperation.java:290', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:320', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatementInternal:HiveSessionImpl.java:530', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatement:HiveSessionImpl.java:506', 'org.apache.hive.service.cli.CLIService:executeStatement:CLIService.java:280', 'org.apache.hive.service.cli.thrift.ThriftCLIService:ExecuteStatement:ThriftCLIService.java:531', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1437', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1422', 'org.apache.thrift.ProcessFunction:process:ProcessFunction.java:39', 'org.apache.thrift.TBaseProcessor:process:TBaseProcessor.java:39', 'org.apache.hive.service.auth.TSetIpAddressProcessor:process:TSetIpAddressProcessor.java:56', 'org.apache.thrift.server.TThreadPoolServer$WorkerProcess:run:TThreadPoolServer.java:286', 'java.util.concurrent.ThreadPoolExecutor:runWorker:ThreadPoolExecutor.java:1142', 'java.util.concurrent.ThreadPoolExecutor$Worker:run:ThreadPoolExecutor.java:617', 'java.lang.Thread:run:Thread.java:748', "*org.apache.hadoop.hive.ql.parse.SemanticException:Cartesian products are disabled for safety reasons. If you know what you are doing, please sethive.strict.checks.cartesian.product to false and that hive.mapred.mode is not set to 'strict' to proceed. Note that if you may get errors or incorrect results if you make a mistake while using some of the unsafe features.:30:14", 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genJoinReduceSinkChild:SemanticAnalyzer.java:8238', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genJoinOperator:SemanticAnalyzer.java:8324', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genFilterPlan:SemanticAnalyzer.java:3260', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genBodyPlan:SemanticAnalyzer.java:9592', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genPlan:SemanticAnalyzer.java:10549', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genPlan:SemanticAnalyzer.java:10427', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:genOPTree:SemanticAnalyzer.java:11125', 'org.apache.hadoop.hive.ql.parse.CalcitePlanner:genOPTree:CalcitePlanner.java:481', 'org.apache.hadoop.hive.ql.parse.SemanticAnalyzer:analyzeInternal:SemanticAnalyzer.java:11138', 'org.apache.hadoop.hive.ql.parse.CalcitePlanner:analyzeInternal:CalcitePlanner.java:286', 'org.apache.hadoop.hive.ql.parse.BaseSemanticAnalyzer:analyze:BaseSemanticAnalyzer.java:258', 'org.apache.hadoop.hive.ql.Driver:compile:Driver.java:512', 'org.apache.hadoop.hive.ql.Driver:compileInternal:Driver.java:1317', 'org.apache.hadoop.hive.ql.Driver:compileAndRespond:Driver.java:1295', 'org.apache.hive.service.cli.operation.SQLOperation:prepare:SQLOperation.java:204'], sqlState='42000', errorCode=40000, errorMessage="Error while compiling statement: FAILED: SemanticException Cartesian products are disabled for safety reasons. If you know what you are doing, please sethive.strict.checks.cartesian.product to false and that hive.mapred.mode is not set to 'strict' to proceed. Note that if you may get errors or incorrect results if you make a mistake while using some of the unsafe features."), operationHandle=None)